#profile
{
    margin:5em;
    margin-top: 11em;
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profileImage
{
    margin-left: -10em;
    margin-top: 2.5em;
    border: solid 10px white;
    border-radius: 50%;
}
#profileContent
{   
    float: right;
    margin-right: 5em;
    margin-left: 5em;
    margin-top: 2em;
    overflow:inherit;
    border: solid 5px white;
    padding: 1em;
    background-color: rgb(35,39,42);
}
#linktreeButton
{
    transition: all 100ms ease;
    border: solid 2.5px white;
    width: 200px;
    padding: 1em;
    display: inline-block;
}
#linktreeButton span
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1vm;
    display: flex;
    margin-bottom: -3em;
}
#linktreeButton img
{
    height: 30px;
    width: 30px;
    float: right;
}
#linktreeButton:hover
{
    transition: all 100ms ease;
    box-shadow: 0px 0px 0px 2px white;
    transform: scale(1.02);
}
#twitchLink
{
    text-decoration: none;
    color: purple;
}