body
{
    background-color: rgb(44,47,51);
    background: #1d1e21;
    display: flex;
    justify-content: center;
    align-items: center;
}

header
{
    position: fixed;
    top: 0;
    height: 70px;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 1em;
    background-color: rgb(35,39,42);
    color: rgb(153,170,181);
    display: flex;
}
footer
{
    position: fixed;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 1em;
    background-color: rgb(35,39,42);
    color: rgb(153,170,181);
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas
{
    height: 60%;
    width: 80%;
}
#Profile
{
    display:block;
    float: left;
}
#Name
{
    float : right;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}

#Logo
{
    margin-left: 10px;
    border: solid 2px white;
    border-radius: 50%;
}
#Logo:hover
{
    box-shadow: 0px 0px 0px 2px white;
}
.contact
{
    margin-left: 10px;
    margin-top: 16px;
    margin-right: 0px;
}
.contact img
{
    width: 30px;
    height: 30px;
}
.contact img:hover
{
    box-shadow: 0px 0px 0px 5px white;
    border-radius: 5em;
}
a
{
    text-decoration:  none;
}
#cardContainer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card
{
    border: solid 2px white;
    border-radius: 2em;
    margin-top: 10em;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    transition: 0.2s;

}
.card:hover
{
   border: solid 15px white;
   transition: 0.2s;
   background-color:grey;
}
.cardHeader
{
    top: 0em;
}
.cardInfo
{
    bottom: 0px;
}
.card image
{
    display: block;
    margin: 30%;
}
td
{
    margin: 5em;
}
#twitch-embed
{
    margin-top: 6%;
}
