@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body
{
    background-image: repeating-linear-gradient(#694ff5, #feb8c6);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

header
{
    position: fixed;
    top: 0;
    height: 70px;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 1em;
    background-color: rgb(35,39,42);
    color: rgb(153,170,181);
    display: flex;
    border-bottom: solid 5px white;
}
footer
{
    position: fixed;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 1em;
    background-color: rgb(35,39,42);
    color: rgb(153,170,181);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 5px white;
}
canvas
{
    height: 60%;
    width: 80%;
}

#Name
{
    float : right;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}

#Logo
{
    margin-left: 10px;
    border: solid 2px white;
    border-radius: 50%;
}
#Logo:hover
{
    box-shadow: 0px 0px 0px 2px white;
}
.contact
{
    right: 1em;
    margin-left: 80%;   
    position: fixed;
    border: solid 2.5px white;
    width: 200px;
    display: block;
}
.contact img
{
    height: 30px;
    width: 30px;
    margin: 0.5em;
    float: right;
}
.contact:hover
{
    box-shadow: 0px 0px 0px 2.5px white;
}
.contact span
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 1em;
    display:inline-block;
}
a
{
    text-decoration:  none;
}
#twitch-embed
{
    margin-top: 6%;
}
#aboutLink
{
    font-size: 12px;
    margin-top: -0.5em;
}
.languageSelector
{
    right: 1em;
    margin-left: 80%;
    position: fixed;
}
.languageSelector img
{
    border: solid 2px white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
#fullscreenButton
{
    border: solid 2px white;
    color: white;
    font-size: 100%;
    background-color: rgb(46, 46, 46);
    font-weight: bolder;
    margin-top: 45em;
    padding: 1em;
    height: 100px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#gamesButton
{
    border: solid 2px white;
    color: white;
    font-size: 100%;
    background-color: rgb(46, 46, 46);
    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.category
{
    transition: all .5s ease-in;
    border: solid 5px white;
    transition: all 250ms ease;
    display: flex;
    height: 35em;
    width: 17.5em;   
    margin-left: 6em;
    margin-top: 10%;
    overflow: hidden;
    display: inline-block;
    color: white;
    text-align: center;
    background-color: rgb(35,39,42);
    font-size: 0.8vw;
}
.category img
{
    max-width: 100%;
    max-height: 50%;
}
.category:hover
{
    transition: all 250ms ease;
    transform: scale(1.1);
}
.category h2
{
    margin-top: 1em;
}
#welcomeMessage
{
    color: white;
    font-weight: bolder;
    font-size: 2vw;
    position:fixed; 
    margin-top: 1em;
    margin-bottom: 12em;
    text-align: center;
}
#supporterList
{
    position: absolute;
    padding-bottom: 100px;
    width: auto;
    margin: auto;
    margin-top: 60vw;
    text-align: center;
}
.supporterNameTwitch
{
    color:#6341a4;
    font-weight: bold;
}
.supporterNamePatreon
{
    color:#e6461a;
}

.container
{    

    margin-top: 10%;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.container .card
{
    position: relative;
    max-width: 300px;
    height: 35em;
    max-height: 25vw;
    width: 30vw;
    background: #23272a;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px 2.5px white;
    transition: 0.5s ease-in-out;
    margin: 2.5%;
    font-size: 1vw;
    overflow: hidden;
}
.container .card:hover
{
    height: auto;
    overflow: hidden;
    transform: scale(1.2);
}
.container .card .imgBox
{
    position: relative;
    width: 80%;
    height: 80%;
    top: -60px;
    left: 20px;
}
.container .card .imgBox img
{
    max-width: 80%;
    max-height: 80%;
    margin-top: 2vw;
    margin-left: 2vw;
    border-radius: 4px;
}
.container .card .content
{
    position: relative;
    margin-top: -200px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -100px;
    transition: 0.3s ease-in-out;
}
.container .card .header
{
    position: relative;
    opacity: 0;
    transition: 0.3s ease-in-out;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
    transition: all 250ms ease;
}
.container .card:hover .header
{
    opacity: 0;
    visibility: hidden;
    margin-top: -100px;
}

button
{
    width: 100%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    cursor: pointer;
}


