#download-info {
    background-color: #1f1f23;
    border: solid 2px white;
    border-radius: 0.4em;
    width: 60%;
    text-align: center;
    padding: 0em;
    margin: 0 auto;
    margin-top: 5%;
    height: auto;
    display: flex;
    min-height: 10em;
    height: auto;
    max-height: 80%;
    flex-direction: column;
    bottom: 0;
    left: o;
}

#download-info-header {
    border-bottom: solid 1px white;
    width: 100%;
}

#download-info-content {
    border: solid thin white;
    flex-grow: 1;
    height: 100%;
}

#download-button-back {
    border: solid 1px white;
    border-radius: 1 1 1 1;
    width: 80px;
}